[submodule "themes/moon-dream"]
	path = themes/moon-dream
	url = git@github.com:moon-moon27/moon-dream.git
[submodule "public"]
	path = public
	url = git@github.com:moon-moon27/moon-moon27.github.io.git
